.auth-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.auth-content {
    background: #1e1e1e;
    padding: 20px;
    width: 300px;
    border-radius: 0.5rem;
    color: white;
    position: relative;
    animation: fadeInUp 0.4s ease;
}

.auth-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.69em;
}

.auth-tab {
    background-color: #222;
    color: white;
    border: none;
    padding: 0.3125em 0.625em;
    cursor: pointer;
}

.auth-tab.active {
    background-color: #0C8CE9;
    border-radius: 0.0625rem;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.auth-form input {
    padding: 0.5em;
    border: none;
    border-radius: 0.25rem;
    background-color: #2e2e2e;
    color: white;
}

.auth-form button {
    background-color: #0C8CE9;
    color: white;
    padding: 0.5em;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.hidden {
    display: none;
}
